@charset "UTF-8";
/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
RESET
SHARED
CLEARFIX
MAIN
TYPE
BUTTONS
IMAGES
TABLES
CAROUSEL
FEATURE-LIST
MISC
*/





/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart...
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img{
	border:none;
	font-style:italic;
}
input,
select,option,optgroup,
textarea{
	font:inherit;
}





/*------------------------------------*\
	$SHARED
\*------------------------------------*/
/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
p,
table,
form,
pre,
hr,
.header,
.logo,
.source{
	margin-bottom:40px;
	margin-bottom:3.333rem;
}

/* Shared font */
h1,h2,h3{
	font-family:franklin-gothic-comp-urw, "Franklin Gothic Compressed", sans-serif;
	font-weight:700;
	line-height:1;
	text-transform:uppercase;
	text-shadow:1px 1px 0 #fff,2px 2px 0 #000;
}
h4,h5,h6,
.site-nav,
.tagline,
.btn{
	font-family:franklin-gothic-urw , "Franklin Gothic Book", sans-serif;
	font-weight:400;
	text-transform:uppercase;
	text-shadow:none;
}

/* Default indentation value for lists etc. */
ul,ol,dd{
	margin-left:1.5em;
}

label,
.text-input,
textarea,
.btn{
	cursor:pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus{
	cursor:text;
}





/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Big up @necolas: http://nicolasgallagher.com/micro-clearfix-hack/
*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}





/*------------------------------------*\
	$MAIN
\*------------------------------------*/
html{
	font:0.75em/1.666 Georgia, serif; /* 12px with 20px baseline. */
	color:#000;
	background:url(../img/css/page/bg.png) #efece3;
	overflow-y:scroll;
	max-width:640px;
	padding:0 1em;
	margin:0 auto;
}





/*------------------------------------*\
	$HEADER
\*------------------------------------*/
.header{
	text-align:center;
}





/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
.footer h4{
	margin-bottom:0;
}





/*------------------------------------*\
	$LOGO
\*------------------------------------*/
.logo{
	display:block;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}





/*------------------------------------*\
	$NAV
\*------------------------------------*/
.nav{
	list-style:none;
	margin-left:0;
}
	.nav li{
		display:inline;
	}
	.nav a{
		display:inline-block;
		margin-left:5%;
	}
		.nav li:first-child a{
			margin-left:0;
		}

/*--- SITE-NAV ---*/
.site-nav{
	font-size:16px;
	font-size:1.333rem;
	line-height:1;
}
	.site-nav span{
		font-size:12px;
		font-size:1rem;
		color:#858283;
	}
	.site-nav a:hover{
		text-decoration:none;
	}
		.site-nav a:hover span{
			color:#fff;
		}
		
/*--- SUB-NAV ---*/
.sub-nav{
	font-size:14px;
	font-size:1.166rem;
	margin-bottom:0;
}





/*------------------------------------*\
	$ISLAND
\*------------------------------------*/
.island{
	padding:1em;
	background-color:#000;
	color:#fff;
}
	.island a{
		color:#fff;
	}
	/* Remove margin from the last item in a box to avoide compounded padding+margin spacings. */
	.island > :last-child{
		margin-bottom:0;
	}





/*------------------------------------*\
	$TYPE
\*------------------------------------*/
/*--- HEADINGS ---*/
h1,.alpha{
	font-size:60px;
	font-size:5rem;
	margin-bottom:0;
}
h2,.beta{
	font-size:30px;
	font-size:2.5rem;
}
h3,.gamma{
	font-size:20px;
	font-size:1.666rem;
}
h4,.delta{
	font-size:16px;
	font-size:1.333rem;
}
h5,.epsilon{
	font-size:Xpx;
	font-size:Xrem;
}
h6,.zeta{
	font-size:Xpx;
	font-size:Xrem;
}
.tagline{
	font-size:20px;
	font-size:1.666rem;
}

/*--- LINKS ---*/
a:hover{
	text-decoration:underline;
}

/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}

/*--- QUOTES ---*/
/*
Big up @boblet: http://html5doctor.com/blockquote-q-cite/
*/
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote{ quotes: "“" "”"; }
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

blockquote{
	text-indent:-0.4em;
}
.source{
	display:block;
	text-indent:0;
	margin-top:-Xpx;
	margin-top:-Xrem;
}
.source:before{
	content:"—";
}





/*------------------------------------*\
	$BUTTONS
\*------------------------------------*/
.btn{
	font-size:16px;
	font-size:1.333rem;
	display:inline-block;
	line-height:1;
	background-color:#000;
	color:#efece3;
	padding:1em;
}
	.btn:after{
		content:" »";
	}





/*------------------------------------*\
	$PROMO
\*------------------------------------*/
.promo{
	font-size:18px;
	font-size:1.125rem;
	line-height:2.222; /* 40px */
	padding:1em;
	border:2px solid #aeaeae;
	border-width:2px 0;
}





/*------------------------------------*\
	$IMAGES
\*------------------------------------*/
img{
	max-width:100%;
	height:auto;
	font-style:italic;
}





/*------------------------------------*\
	$SPRITE
\*------------------------------------*/
/*
So, as nasty as this looks, it's actually super handy for quickly creating sprited elements and minimising http requests!
*/
.s{
	display:inline-block;
	position:relative;
	line-height:1;
	background-image:url(../img/css/sprites/main.png);
}
.s.star{
	background-position:0 0;
	width:58px;
	height:58px;
}
.s.shield{
	background-position:-58px 0;
	width:51px;
	height:51px;
}
.s.house{
	background-position:0 -58px;
	width:57px;
	height:50px;
}
.s.buildings{
	background-position:-57px -58px;
	width:51px;
	height:58px;
}





/*------------------------------------*\
	$TABLES
\*------------------------------------*/
table{
	width:100%;
}





/*------------------------------------*\
	$CAROUSEL
\*------------------------------------*/
.carousel{
    overflow:hidden;
    width:100%;
}
.panes{
	margin-left:0;
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
     
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
	animation:carousel 30s infinite;
}
.panes > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}
.panes > li > a{
    display:block;
}
.carousel img{
    display:block;
	background-color:#000;
    width:100%;
    max-width:100%;
}
.carousel h2{
	font-size:1em;
    padding:0.5em;
    position:absolute;
    right:10px;
    bottom:10px;
    left:10px;
    text-align:right;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
}

@-moz-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}





/*------------------------------------*\
	$FEATURE-LIST
\*------------------------------------*/
.feature-list{
	list-style:none;
	margin-left:0;
}
	.feature-list h2{
		margin-bottom:0;
	}
	.feature-list a{
		border-bottom:2px solid #767570;
	}





/*------------------------------------*\
	$RESPONSIVE
\*------------------------------------*/
/* Let's go big! */
/*@media(min-width: 481px){
.site-nav{
	text-transform:uppercase;
}
	.site-nav span{
		display:block;
	}
}*/





/*------------------------------------*\
	$MISC
\*------------------------------------*/
.accessibility{ position:absolute; left:-99999px; }